@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Dancing+Script:wght@700&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  color: #213547;
  background-color: #fff;
  --main-color-1: #f7cac9;
  --main-color-2: #f8edeb;
  --main-color-3: #ffe5b4;
  --main-color-4: #c5e0dc;
  --main-color-5: #a2c8cc;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
span {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}
a {
  color: #131415;
  text-decoration: none;
}
h1{
  margin: 0 auto;
  padding: 0;
}

&a:visited {
  color: #131415;
}

.heroSpn span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: crimson;
  font-weight: 600px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-style: bold;
  background-color: var(--main-color-1);
  padding: 5px;
  border-radius: 5px;
}
/* //Botones Sabores */
.titulos {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;

  h2 {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #333;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    /*   font-family: "Montserrat", sans-serif; */
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    background: var(--main-color-4);
  }
}

.botVer {
  width: 350px;
  height: 263px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: large;
  font-family: "Cabin", sans-serif;

  font-weight: 400;
  font-size: 2rem;
  color: #f5f5f5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
  }
}
.bot1 {
  background-image: url(/img/sabores1.webp);
}
.bot2 {
  background-image: url(/img/sabores.webp);
}
.bot3 {
  background-image: url(/img/sabores2.webp);
}

.listaSabores {
  max-width: 1020px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  display: block;
  text-align: left;
  font-weight: 400;
  
  color: #333;
  /*  background-image: url(../../public/img/bghelados.webp); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.btnsContainer{
  display: flex;
  gap: 15px;
}
.btnsContainer button{
  background-color: #ffcc00;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #e6b800;
    }
    
}

@media (max-width<=540px){
  
  .dataSelect {
    margin: 0 auto;
    width: 100%;
  }
}

/*Login - Registro*/
.LoginFromContainer{
  max-width: 1280px;
  margin: 0 auto;
}

.boxLogin{
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  color:#333;
  display: block;
  justify-content: space-between;
  align-content: center;
  gap: 2rem;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: start;
  background-image: url(/img/bghelados.webp);
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem ;
  border-radius: 13px ;
}

.btnsForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}
.btnsForm button{
  width: 120px;
  padding: 0.1rem;
  margin: 1rem;
  height: 40px;
  background-color: var(--main-color-1);
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size:1rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(189, 72, 72, 0.3);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  font-family: "cabin", sans-serif;

  &:hover {
    background-color:#a2c8cc;
    color:#f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
  }

}
form{
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

form label{
  color: #f5f5f5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 1rem;
}
h2{
  justify-content: center;
  align-items: center;
  
}

.lblsesion{ 
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 15px;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  
  input{
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    margin-right: 0;
    height:1.5rem;
    gap:5rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow:  rgba(0, 0, 0, 0.1);
 }
}
/*  */
/* //colors 
#ffe4e1
#d8f8e1
#fcb7af
#b0f2c2
#b0c2f2
*/
