.footerContainer {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.footerLogo {
  margin: 0 auto;

  line-height: 1.5;
  letter-spacing: 1px;
}
.footerLogo img {
  width: 120px;
}
.footerLogo h2,
p {
  margin: 0;
}
@media (max-width<=768px) {
  .footerLogo {
    margin: 0 auto;
 
    line-height: 1.5;
    letter-spacing: 1px;
  }
}
